{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="cafe-menu">
    <h2>새로운 주문 모음 만들기</h2>

    <form id="create-room-form" method="POST" action="{% url 'create_room' %}">
        {% csrf_token %}

        <input type="hidden" id="cafe-input" name="cafe" value="">
        <input type="text" name="name" placeholder="방 이름" required>
        <input type="text" name="creator_name" placeholder="만든 사람 이름" required>
        
        <div class="cafe-selection">
            <div class="cafe-logo-container" data-cafe="starbucks">
                <input type="radio" id="starbucks" name="cafe" value="starbucks" required>
                <img src="{% static 'images/starbucks.png' %}" alt="스타벅스" class="cafe-logo">
                <div class="cafe-label">스타벅스</div>
            </div>
            <div class="cafe-logo-container" data-cafe="mega">
                <input type="radio" id="mega" name="cafe" value="mega" required>
                <img src="{% static 'images/mega.png' %}" alt="메가커피" class="cafe-logo">
                <div class="cafe-label">메가커피</div>
            </div>
        </div>

        <div class="button-container">
            <button type="submit" class="btn pulsating-btn">방 만들기</button>
        </div>
    </form>
</div>

{% endblock %}